# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\first_project_full_stack_TEST\Angular+Spring_program\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
